<!DOCTYPE html>
<html>
<head>
    <title>MyProfile</title>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/MyProfile/myprofile.css" />
    <!-- <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    /> -->



    <script src="https://kit.fontawesome.com/c7f7a3d338.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/components/spinner/spinner.css">
    <link rel="stylesheet" href="UserProfile.css">
</head>


<body onload="myFunction()" style="background-color: #E7F2F8;" >
  <div id="loader"></div>

  <div id="myDiv">
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #74BDCB;">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="/index.html"><i><b>COUCHSURFING</b></i><img src="/images/Indian-Flag-Designs-PNG_ndvclp.png " width="100" height="auto"></a>
  <!-- Container wrapper -->
 
   <!-- Toggler/collapsibe Button -->
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <!-- Left links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Services/services.html">Travellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/blog.html">Blog</a>
        </li>
        <li class="nav-item ">
          <a href="/MyProfile/myprofile.html"><button style="width:auto;border-radius:5px;background-color: #2E765E;color: white;" class="btn">My Profile</button></a>
        </li>
      </ul>
      <!-- Notifications -->
     <button style="width:auto;margin-left:5px;border-radius:5px;background-color: #EF7C8E;color: white;" id="logout" class="btn">Logout</button>
      <!-- Left links -->
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      

      
      <!-- Avatar -->
      
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->



  <!-- <div class="container"> -->
    <!--left div section-->
    <div class="row">
      
        <div class="col-md-3 left card">
          <div class="row">
          <div class="card-container col-4 col-md-12">
             <div class="img-cirlce" ><img class="profilepic img-responsive w-100" src="/images/My_profile_images/200.gif" alt="Avatar" style="
              background-position: center;
              width: 20vw;
              height: 20vw;
              border-radius: 100%;
              border: 1px solid gray;
              align-items: center;
              object-fit: cover;" id="avatar">
              
          </div>
       </div>
         
          <div class="container col-6 col-md-12">
            <h4 id="name"><b></b></h4> 
            <div>
              <span id="add"></span> <br>
              <div class="d-flex justify-content-center mt-3">
                <button class="primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" id="ReqstForStay">Requet For Host</button>
                <button class="primary">More</button>
              </div>
            </div>
         </div>
        </div>
        </div>

   

      <div class="col-md-8">
              <!-- Tabs with Background on Card -->
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home1" role="tab" id="setProfile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile1" role="tab" id="setHome">My Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#setting" role="tab">Blogs</a>
            </li> 
          </ul>
        </div>
        <div class="card-body">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home1" role="tabpanel">
              <div class="table-responsive">
                <table class="table table-hover">
                  <th class="p-3" colspan="2">OVERVIEW</th>
                  <tr><td id="nameHome"><i class="fa-solid fa-user"></i> </td>
                  <td id="ageHome"><i class="fa-solid fa-mars-stroke"></i> </td>
                  </tr>
                  <tr>
                    <td id="locationHome"><i class="fa-solid fa-location-dot"></i> Location(Null)</td>
                    <td id="educationHome"><i class="fa-solid fa-book-open-reader"></i> Education(Null)</td>
                  </tr>
                  <tr>
                    <td id="occupationHome"><i class="fa-solid fa-toolbox"></i> Occupation(Null)</td>
                    <td id="languagesHome"><i class="fa-solid fa-comment"></i> Languages(Null)</td>
                  </tr>
                </table>
              </div>
              <hr>
              <div class="table-responsive">
                <table class="table table-light table-hover">
                  <th class="text-center" data-background-color="orange" id="aboutHead"></th>
                  <tr id="about"><td class="text-center" >No Data Available</td></tr>
                  <tr id="whycouch"></tr>
                  <tr id="myInterest"></tr>
                  <tr id="oneamazingthing"></tr>
                  <tr id="teachlearnshare"></tr>
                  <tr id="statesvisited"></tr>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="profile1" role="tabpanel">
              <div id="wholeData">
                <div class="card" style="padding: 15px;">
                <div class="table-responsive" style="border-bottom: 1px solid gray;">
                      <div style="float: left;padding: 5px;">
                        <h5 id="nameHeading"></h5> 
                      </div>
                    </div>
                  
                    <div id="myPreference">
            
                    </div>
                  </div>
                  
                  <div class="card" style="padding: 15px;">
                    <div class="table-responsive" style="border-bottom: 1px solid gray;">
                        <div style="float: left;padding: 5px;">
                            <h5 id="myHomeHeading"></h5> 
                          </div>
                        </div>
                      
                        <div id="myHomePreference">
                
                        </div>
                      </div>
  
                      <div class="card" style="padding: 15px;">
                        <div class="table-responsive" style="border-bottom: 1px solid gray;">
                            <div style="float: left;padding: 5px;">
                                <h5>Sleeping Arrangements</h5> 
                              </div>
                            </div>
                          
                            <div id="MysleepingPreference">
                    
                            </div>
                          </div>
  
                          <div class="card" style="padding: 15px;">
                            <div class="table-responsive" style="border-bottom: 1px solid gray;">
                                <div style="float: left;padding: 5px;">
                                    <h5>More Details</h5> 
                                  </div>
                                </div>
                              
                                <div id="MoreDetails">
                        
                                </div>
                              </div>
                            </div>
                <div class="text-center" id="noHostData">No Data Available
              </div>
            </div>
            <div class="tab-pane" id="messages1" role="tabpanel">
              <div class="table-responsive">
                <table class="table table-hoverable">
                  
                
                  <tr>
                    <th class="text-center" colspan="2" style="border: 1px solid gray;">IMAGES</th>
                  </tr>
                  <tr id="AddHome">
                    <td>
                      <div style="display: flex;justify-content: center;" id="spin">
                        <i class="fa fa-spinner fa-spin" style="font-size: 40px;"></i>
                      </div>
                      <div class="row addNewPic">
                        
                        
                      </div>
                    </td>
                  </tr>
                 
                </table>
                <div class="text-center" style="padding: 20px;" id="noHomePic">
                  <span>There are no images yet.
                </div>
                
              </div>
            </div>
            <div class="tab-pane" id="settings" role="tabpanel">
              <div class="container" style="border: 1px gray solid;">
                <div class="header h3" style="padding: 5px;">Following</div>
                <div class="row folrow" style="border-top: 1px gray solid;">
                 <span id="nothing">Not following anyone</span> 
                </div>
              </div>
              <br>
              <div class="container" style="border: 1px gray solid;">
                <div class="header h3" style="padding: 5px;">Followers</div>
                <div class="row followerow" style="border-top: 1px gray solid;">
                 <span id="nofollowers" >No followers yet</span> 
                </div>
              </div>
            </div>
            <div class="tab-pane" id="setting" role="tabpanel">
              <p>There are no blogs</p>
            </div>
            <div class="tab-pane" id="settings1" role="tabpanel">
              <div class="box shadow-sm rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Recent Notifications</h6>
                </div>
                <div class="box-body p-0 notification">
                  <div class="text-center" style="padding: 20px;" id="noNotification">
                    <span class="text-center">There are no new notifications</span>
                  </div>
                  
                </div>
            </div>

            </div>
          </div>
        </div>
      </div>
      <!-- End Tabs on plain Card -->

      <!--Modal for viewing images-->
      <div class="modal fade" id="modalImages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content-images">
            <img id="HomeModalImage" src="" alt="HomePics" width="100%" style="border-radius: 0;position: relative;">
          </div>
        </div>
      </div>

       <!--modal for updating details-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">COUCHSURFING <img src="/images/Indian-Flag-Designs-PNG_ndvclp.png" alt="couchsurfinglogo" width="80" height="auto"> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="flex" >&times;</span>
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <th class="text-center">Request for Host</th>
            <tr>
              <td>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Visiting:</label>
                      <div class="d-flex mt-0 mb-0 p-0">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">City <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="city">
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">District</label>
                          <input type="text" class="form-control" id="district">
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">State <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="state">
                        </div>
                      </div>
                    </div>
                    <div class=" d-flex m-0 p-0">
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">From <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="fromDate"
                        value="" >
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">To <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="toDate" value="">
                      </div>
                      
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Number Of Travellers <span class="text-danger">*</span></label>
                      <input type="number" class="form-control" id="noOfTravellers">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Additional Information: <span class="text-danger">*</span></label>
                      <textarea class="form-control" id="additionalInfo"></textarea>
                    </div>
                  </form>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: #54749C;color: white;" id="cancelBtn">Cancel</button>
          <button type="button" class="btn btn-primary" id="sendRequest">Send request</button>
          <button type="button btn-block" class="btn btn-primary" id="sending"><i class="fa fa-spinner"></i> Send request</button>
        </div>
      </div>
    </div>
  </div>

  
  </div>
    
 
  
  </div>
    <script src="UserProfile.js" type="module"></script>
    <!-- <script src="/config.js" type="module"></script> -->
    <script src="/components/spinner/spinner.js"></script>
    

</body>
</html>